body {
    background-color: #ccc0a5;
    
}
html{
    scroll-behavior:smooth;
}
.header {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    /*background-color: #b5aa91;*/
    margin: auto;
    padding: 5px;
    text-align: center;
    color: black;
    box-shadow: 0 0 10px #4c4d4c;
    border-radius: 5px;
    background-image: url("food-img.jpg");
    /*background-repeat: no-repeat;
    background-size: cover;*/
    margin-bottom: 2%;
}

hr{
    background-color:black;
}
/*span1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #785c2c;*/
}
button {

    width: 900px;
    height: 50px;
    background-color:white;
    margin: 10px;
    border-radius: 20px;
    border: none;
    font-size:17px;
}
a{
    padding:15px;
    display:block;
   
    text-decoration:none;
    color:black;
}
 button:hover {
        width:930px;
        height:69px;
        background-color: #ab9580;
        color:black;
        border: 3px solid white;
        font-size:30px;
 }
.breakfast1{
    box-sizing:border-box;
    width:500px;
    height:250px;
    margin:auto;
    background-color:white;
}
.hbreak{
    font-size:40px;
   text-align:center;
}
.imgbreakfast {
    display: inline-block;
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 15px;
    margin-top: 25px;
}
.box{
    text-align:center;
    margin-left:50px;
   padding-top:90px;
}
.footer {
    box-sizing: border-box;
    width: 90%;
    height: 230px;
    background-color: #b5aa91;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px #4c4d4c;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: black;
}
.hfooter{
    font-size:20px;
}
.a{
   width:300px;
   height:100px;
  
   float:left;
   margin-left:100px;
   padding:20px;
}
.b {
    width: 300px;
    height: 100px;
   
    float: right;
    margin-right:100px;
    padding: 20px;
}


/* ------------------------------- MY CODE ------------------------------------- */



/* this is my additional file */


ul {
  list-style-type: none;
  margin: 0px 0px 15px 0px;
  padding: 0;
  overflow: hidden;
  background-color: #273746;
  box-shadow: 0 0 20px #4c4d4c;
}

li {
  float: left;
  background-color: #273746;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
  border-radius: 40px;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  /*color :#F5B7B1;*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Style of title */
#title{
    background-color:rgba(253, 254, 254, .7);
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}


#shop-logo{
    width: 50px;
    height: 42px;
    /*padding-right: 100px;*/
}
#search-logo{
    width: 40px;
    height: 32px;
    margin-top: 20px;
}


#search{
    /*margin: 15% 0% 0% 250% ;*/

    margin-top: 14%;
    margin-left: 250%;
    float: left;
    border: 2px white solid;
    border-radius: 5px;
}

#for_test{
    display: none;
}

#products, #shop{
    margin: 14px 0px 0px 0px;
    float: right;
    margin-right:10px;
}

div span{
    color: red;

}


#welcome{
    background-color: white;
    font-size: 20px;
}

h1{
    margin-bottom: 3%;
}

#welchang{
    color :red;
}

#nilofar_restaurant{
    background-image: url("nilofar_restaurant.png");
}



/* 3 main div in head */

/* ------------------- BREAK FAST ------------------- */

#breakfast{
    margin: 0% 0% 0% 4%;
    float: left;
}

#breakfast_head_pic{
    background-image: url("breakfast_pic.jpg");
    padding: 0px 320px 196px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#breakfast_head_text{
    background-color: rgba(253, 254, 254 , .7);
    font-size: 30px;
}


/* ------------------- LUNCH ------------------ */

#lunch{
    margin: 0% 0% 0% 5%;
    float: left;
}

#lunch_head_pic{
    background-image: url("lunch.jpg");
    padding: 0px 320px 190px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#lunch_head_text{
    background-color: rgba(253, 254, 254 , .7);
    font-size: 30px;
}


/* ------------------- DRINKS ------------------ */

#drinks{
    margin: 0% 0% 0% 5%;
    float: left;
}

#drinks_head_pic{
    background-image: url("drink.jpg");
    padding: 0px 310px 190px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

#drinks_head_text{
    background-color: rgba(253, 254, 254 , .7);
    font-size: 30px;
}

